body {
  font-family: "Roboto", monospace;
}

body.main-page {
  background-color: #222;
  color: #ffffff;
  margin: 3em 10em;
}

h1 {
  font-size: 2em;
  font-weight: normal;
}

h2 {
  font-size: 1.2em;
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding-left: 40px;
}

li {
  margin-bottom: 5px;
}

li ul {
  padding-left: 40px;
}

a {
  color: #7a9ab7;
  text-decoration: none;
}

a:hover {
  color: #999;
}

hr {
  border: 0.5px solid #444;
  margin: 10px 0;
}

.icon {
  font-size: 1.5em;
  vertical-align: middle;
}
