<!DOCTYPE HTML>
<html>
<head>
    <title>Definitions - Carson Ellis</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
    <div id="page-wrapper">
        <!-- Header -->
            <header id="header">
                <h1><a href="index.html">Carson Ellis</a></h1>
            </header>
            
        <!-- Main Content -->
            <section id="main" class="container">
                <header>
                    <h2>Definitions</h2>
                </header>
                <!-- AI -->
                <div class="box">
                    <header>
                        <h3>Artificial Intelligence (AI)</h3>
                    </header>
                    <p>A non-human system able to perform cognitive work in a set of domains.</p>
                </div>
                <!-- ML -->
                <div class="box">
                    <header>
                        <h3>Machine Learning (ML)</h3>
                    </header>
                    <p>Using data to adjust mathematical models, with the goal of using those models as artificial intelligence.</p>
                </div>
                <!-- AGI -->
                <div class="box">
                    <header>
                        <h3>Artificial General Intelligence (AGI)</h3>
                    </header>
                    <p>A non-human system able to perform superior cognitive work in all domains.</p>
                </div>
                <!-- Add More Definitions as Needed -->
            </section>

        <!-- Footer -->
            <div id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Contact -->
                                <section class="contact">
                                    <ul class="icons">
                                        <li><a href="https://twitter.com/LifeformMinimum" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                                        <li><a href="https://www.linkedin.com/in/crsnellis/" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a></li>
                                    </ul>
                                </section>
                            <!-- Copyright -->
                                <div class="copyright">
                                    <ul class="menu">
                                        <li>&copy; Carson Ellis 2023. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.dropotron.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

</body>
</html>
